/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../../public/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../public/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../../public/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../public/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

#historyPanel {
  height: 100%;
  overflow-y: scroll;
  padding: 2px;
  background-color: transparent;
  margin-left: 5rem;

  &::-webkit-scrollbar {
    width: 0;
  }

  button.ant-btn {
    background: transparent;
    width: 56px;
    height: 56px;
    padding: 6px;
    margin: 4px;

    img {
      width: 36px;
      height: 36px;
    }
  }
}

#workspacePanel {
  height: 100vh;

  .ant-tabs {
    position: absolute;
    top: 72px;
    bottom: 0;
    width: 100%;

    &-tab-btn {
      span {
        font-weight: 700;
      }
    }

    .ant-list-item-meta-title {
      font-weight: 700;
    }
  }
}

div.ant-popover {
  width: 55ch;
  max-height: 100vh;

  &-title {
    padding: 10px;

    span {
      font-weight: 700;
      margin-left: 10px;
    }
  }

  &-inner-content {
    overflow-y: scroll;
    max-height: 500px;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .ant-list-item-meta-title {
    font-weight: 700;
  }
}

.home--clock {
  font-size: 80px;
  padding: 0;
  margin: 0;
  margin-left: 5rem;
}

.home--username {
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-left: 5rem;
}

.home--weather {
  svg {
    color: #dacc0f;
    font-size: 20px;
  }
  margin-top: 10px;
  margin-left: 5rem;
  font-size: 15px;
}

.home--location {
  svg {
    color: #000;
    font-size: 20px;
  }
  margin-left: 5rem;
  font-size: 15px;
}

.home--history {
  margin-top: 40px;
  margin-left: 5rem;
  font-size: 22px;
}

.home--calendar-toolbar {
  width: 25rem;
  display: flex;

  img {
    width: 50px;
    height: 50px;
  }

  .home--calendar {
    margin-left: 10px;
    font-size: 22px;
    // font-family: "New-York", sans-serif;
    line-height: 50px;
    color: #313131;
  }
}

.calendar--card-today {
  margin-bottom: 0;
  background-color: #5c46e3;
  border-radius: 8px;

  font-size: 12px;
  font-weight: lighter;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
}

.calendar--card-date {
  width: auto;

  p {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.rbc-time-view {
  border: none !important;
  border-radius: 15px;
  padding: 15px;
}

.rbc-overflowing {
  margin-right: 0 !important;
  border: none;
}

.site-calendar-demo-card {
  padding: 0 100px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
}

.rbc-timeslot-group {
  background-color: #ffffff;
}

.rbc-time-slot {
  border: none !important;
}

.rbc-current-time-indicator {
  height: 2px;
  background-color: #5c46e3 !important;
}

.calendar--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: none !important;
  border-radius: 15px;
  padding: 15px;

  .google-calendar-link {
    margin-right: 10px;
  }
}

.calendar-header {
  padding: 0 85px;
  margin-top: 20px;
  margin-bottom: 3px;
}

.home--workspace {
  margin-top: 20px;
  font-size: 22px;
}

.social-auth--container {
  margin: 10px 20px;
  display: flex;
  justify-content: center;

  button {
    background-color: #567df3;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 15px;

    &:hover {
      cursor: pointer;
    }
  }

  svg {
    margin-right: 10px;
  }
}

.calendar--card-date {
  margin-left: 10px;
  margin-top: 7px;
}
