// Import font families
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../../public/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../public/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../../public/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../../public/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

// Global font
* {
  font-family: "Montserrat", sans-serif;
}

// Customize scrollbar
.ScrollbarsCustom-Wrapper {
  right: 3px !important;

  .ScrollbarsCustom-Content {
    padding-right: 3px !important;
  }
}

.ScrollbarsCustom-TrackY {
  width: 3px !important;
  top: 2px !important;
  height: calc(100% - 4px) !important;
}

body {
  margin: 0;
  height: 100vh;
  overflow-y: hidden;
}

#historyPanel {
  height: 100%;
  overflow-y: scroll;
  padding: 2px;
  background-color: transparent;
  margin-left: 5rem;

  &::-webkit-scrollbar {
    width: 0;
  }

  button.ant-btn {
    background: transparent;
    width: 56px;
    height: 56px;
    padding: 6px;
    margin: 4px;

    img {
      width: 36px;
      height: 36px;
    }
  }
}

#workspacePanel {
  height: 100vh;

  .ant-tabs {
    position: absolute;
    top: 72px;
    bottom: 0;
    width: 100%;

    &-tab-btn {
      span {
        font-weight: 700;
      }
    }

    .ant-list-item-meta-title {
      font-weight: 700;
    }
  }
}

div.ant-popover {
  width: 55ch;
  max-height: 100vh;

  &-title {
    padding: 10px;

    span {
      font-weight: 700;
      margin-left: 10px;
    }
  }

  &-inner-content {
    overflow-y: scroll;
    max-height: 500px;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  .ant-list-item-meta-title {
    font-weight: 700;
  }
}

.home--clock {
  font-size: 80px;
  padding: 0;
  margin: 0;
  margin-left: 5rem;
}

.home--username {
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-left: 5rem;
}

.home--weather {
  svg {
    color: #dacc0f;
    font-size: 20px;
  }
  margin-top: 10px;
  margin-left: 5rem;
  font-size: 15px;
}

.home--location {
  svg {
    color: #000;
    font-size: 20px;
  }
  margin-left: 5rem;
  font-size: 15px;
}

.home--history {
  margin-top: 40px;
  margin-left: 5rem;
  font-size: 22px;
}

.home--calendar {
  margin-top: 20px;
  margin-left: 6rem;
  font-size: 22px;
}

.site-calendar-demo-card {
  padding: 0 100px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
}

.home--workspace {
  margin-top: 20px;
  font-size: 22px;
}
