/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../assets/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../assets/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../assets/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* newyork */
@font-face {
  font-family: "New York";
  font-style: normal;
  font-weight: 400;
  src: local("New York"), local("New-York"),
    url("../assets/NewYorkExtraLarge-Regular.woff2") format("woff2"),
    url("../assets/NewYorkExtraLarge-Regular.woff") format("woff");
}

* {
  font-family: "Montserrat", sans-serif;
}

.ScrollbarsCustom-Wrapper {
  right: 3px !important;

  .ScrollbarsCustom-Content {
    padding-right: 3px !important;
  }
}

.ScrollbarsCustom-TrackY {
  width: 3px !important;
  top: 2px !important;
  height: calc(100% - 4px) !important;
}

.container--portal {
  height: 100vh;
  overflow-y: hidden;
  margin: 0.2rem 0;
  padding-top: 1px;
}

.home--clock {
  font-size: 80px;
  padding: 0;
  margin: 0;
  margin-left: 5rem;
}

.home--username {
  font-size: 30px;
  padding: 0;
  margin: 0;
  margin-left: 5rem;
}

.home--weather {
  svg {
    color: #dacc0f;
    font-size: 20px;
  }
  margin-top: 10px;
  margin-left: 5rem;
  font-size: 15px;
}

.home--location {
  svg {
    color: #000;
    font-size: 20px;
  }
  margin-left: 5rem;
  font-size: 15px;
}

.home--history {
  margin-top: 40px;
  margin-left: 5rem;
  margin-right: 40px;
  font-size: 22px;
  height: 40vh;
}

.home--workspace-toolbar {
  width: 25rem;
  display: flex;

  img {
    width: 50px;
    height: 50px;
  }

  .home--workspace {
    margin: 0;
    margin-left: 10px;
    font-size: 22px;
    // font-family: "New-York", sans-serif;
    line-height: 50px;
    color: #313131;
  }
}

.calendar-header {
  margin-top: 20px;
}

.workspace-header {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 3px;
}

.home--calendar-toolbar {
  width: 25rem;
  display: flex;

  img {
    width: 50px;
    height: 50px;
  }

  .home--calendar {
    margin-left: 10px;
    font-size: 22px;
    // font-family: "New-York", sans-serif;
    line-height: 50px;
    color: #313131;
  }
}

.site-calendar-demo-card {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  border-radius: 2px;
}

.calendar {
  width: 100%;
  max-height: 45vh;
  min-height: 40vh;
  margin-top: 10px;
  margin-bottom: 30px;
}

.notes {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border: none !important;
  border-radius: 15px;
  padding: 15px;
  margin-top: 10px;
}

.workspace {
  margin-top: 12px;
  height: 95vh;
}

h2,
.home--clock,
.home--username,
.home--weather,
.home--location {
  font-family: "New York", sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 20px solid rgba(0, 0, 0, 0.2);
}

body {
  overflow: hidden;
}
